Package: com.xojatop.geminipanel
Name: FF Gemini Panel
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Free Fire Mod Menu Panel
Maintainer: xojatop
Author: xojatop
Section: Tweaks
